*.DS_Store
.sass-cache/
.tmp/
*.iml
.idea

# Node Files #
/node_modules
/bower_components
npm-debug.log

*_git-remotes/
dist/
logs/
asset-target/
test_results/
test_coverage/
assets/public/
target/
assets/error_pages/assets/
component-library/
